# Arquivos de ambiente virtual
venv/
.venv/
.venv311/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Dados temporários
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Config VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
